.favoritos {
    .favs {

        display: block;
        padding-top: 10%;

        img {
            height: 1.3125rem;
            width: 1.75rem;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h2 {
            @include h2-mobile
        }

        .favGifs {
            box-sizing: border-box;
            padding: 10% 5%;
    
            .containerFavoritos {
                box-sizing: border-box;
                padding-top: 10%;
                display: grid;
                grid-template: repeat(6, 1fr) / repeat(2, 1fr);
                grid-gap: 5vw;
        
                .image {
    
                    img {
                        height: 7.5rem;
                        width: 42vw;
                    }
    
                    .dataGif {
                        display: none;
                    }
    
                }
                
            }

            .verMas {
                font-family: 'Montserrat';
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: #572EE5;
                letter-spacing: 0;
                text-align: center;
                border: 1px solid #572EE5;
                border-radius: 25px;
                border-radius: 25px;
                width: 34vw;
                height: 5%;
                padding: 1rem;
                margin: auto;
            }
    
        }
    }
}

@media screen and (min-width:768px){
    .favoritos {
        .favs {
            img {
                height: 1.3125rem;
                width: 1.75rem;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
    
            h2 {
                @include h2-desktop
            }
            .favGifs {
    
                .containerFavoritos{
                    grid-template: repeat(3, 1fr) / repeat(4,1fr);
                grid-gap: 5px;
    
                .image {
                    width: max-content;
                    height: max-content;
                    position: relative;
                    img {
                        width: 20vw;
                        height: 9.5rem;
    
                    }

                    &:hover .dataGif {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        opacity: 0.7;
                        background-color: #572EE5;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transform: translate(0%, -100%);
                        margin: none;
                        z-index: 1;

                        .botones {
            
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            position: relative;
                            z-index: 1;
                                    
                               a > img {
                                    width: 3vw;
                                    height: auto;
                                    padding: 7%;
                                    box-sizing: border-box;  
                                    // padding: 10%;  

                                    &:hover {
                                        transform: scale(1.2);
                                        transition: all 0.2s;
                                        opacity: 0.9;
                                    }
                                }
                            }
                        
                            .info {
                                position: relative;
                                padding-left: 2vw;
    
                                p {
                                    font-family: 'Roboto';
                                    font-weight: 500;
                                    font-size: 0.9375em;
                                    color: #FFFFFF;
                                    padding-bottom: 0.2rem;
                                }
        
                                h4 {
                                    font-family: 'Roboto';
                                    font-weight: 700;
                                    font-size: 1rem;
                                    color: #FFFFFF;
                                }
                            }

                        }
                }
                
                
    
                    
                
            }
    
                .verMas {
                    width: 10vw;
                    margin-top: 10vh;
                }
            }
        }

    }

}