.search {
    display: block;
    padding: 10% 5%;

    .search-image {

        img{ 
            box-sizing: border-box;
            width: 17.0625em;
            height: auto;
            margin: 0;
            align-self: center;
        }
    }

    .search-bar {

            .searchElements {
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                z-index: 1;
                @include search-mobile;
        
                input {
                    border: none;
                    align-self: center;
                    padding: 0 5%;    
                    height: 2.5rem;
                
        
                    &:placeholder-shown{
                       @include placeholder-mobile;
                    }
    
                img {
                    box-sizing: border-box;
                    background-color: #FFFFFF;
                    border: none;
                    height: 2rem;
                    padding-right: 25vw;
                    margin-top: 2%;
                    } 
        
                }
            }
        
    }

    .trending-topics {
        padding-top: 15%;
        padding-bottom: 10%;
        .trending {
            @include h3-mobile;
        }
    
        .trending-text {
            @include p-trending-mobile;
    
            .line {
                display: block;
            }
        }
    }

    #containerGifs {
        .h2-gifs {
            padding-top: 10%;
            h2 {
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 2.1875rem;
                color: #572EE5;
                text-align: center;
                line-height: 1.875rem;

                &:first-letter {
                    text-transform: uppercase;
                }
            }
        }
        .containerGifos {
            box-sizing: border-box;
            padding-top: 10%;
            display: grid;
            grid-template: repeat(6, 1fr) / repeat(2, 1fr);
            grid-gap: 5vw;
    
            .image {

                img {
                    height: 7.5rem;
                    width: 42vw;
                }

                .dataGif {
                    display: none;
                }

            }
    
        }
    
        .verMas {
            display: none;
            font-family: 'Montserrat';
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            color: #572EE5;
            letter-spacing: 0;
            text-align: center;
            border: 1px solid #572EE5;
            border-radius: 25px;
            border-radius: 25px;
            width: 34vw;
            height: 5%;
            padding: 1rem;
            margin: auto;
        }
    }

    .modal {
        box-sizing: border-box;
        position: absolute;
        background-color: rgba(255,255,255,0.90);
        width: 100vw;
        height: 100vh;
        top: 0;
        z-index: 91;
        margin: 0;
        padding: 0;
        display: none;

            .modalImage {

                // .gif {
                //     box-sizing: border-box;
                //     width: 85vw;
                //     height: 15.313rem;
                //     background-repeat: no-repeat;
                //     background-size: 19.875rem 15.313rem;
                //     margin-top: 8rem;
                // }
                
                .closeModal {
                    position: absolute;
                    top: 4rem; 
                    left: 85vw; 
                    z-index: 1;
                    height: 0.875rem;
                    width: 0.875rem;
                }
    
               
            }
    
            .modalInfo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .modalUserAndTitle {
                    box-sizing: border-box;
                    padding: 1rem 8%;
                    p {
                        font-family: 'Roboto';
                        font-weight: 500;
                        font-size: 0.938rem;
                        color: #000000;
                        text-align: left;
                        line-height: 1.125rem;
                    }
    
                    h4 {
                        font-family: 'Montserrat';
                        font-weight: 700;
                        font-size: 1rem;
                        color: #000000;
                        text-align: center;
                    }
                }
                .modalBtns {
                    padding: 1rem 8% 0 0;
                }
            }
        }

    }




@media screen and (min-width:768px){
    .search {
        display: flex;
        flex-direction: column;

        .search-image {
            align-self: center;

            img {
                height: 11.875rem;
                width: 24.9375rem;
                padding: auto;

            }
        }

        .search-bar {
            align-self: center;

            .searchElements {
                @include search-desktop;

                input {
                    box-sizing: border-box;
                    padding-left: 10vw;
                    padding-right: 5vw;
    
    
                    &:placeholder-shown{
                        box-sizing: border-box;
                        margin-left: 5vw;
                        padding-left: 5vw;
                    }
         
                }
            }
        }

    


        .trending-topics {
            padding-bottom: 0;
            .trending {
                @include h3-desktop;
                }
            .trending-text {
                @include p-trending-desktop;
                
                .line {
                    display: inline-flex;
                }
            }
        }

        #containerGifs {
            .containerGifos {

                grid-template: repeat(3, 1fr) / repeat(4,1fr);
    
                .image {
                    width: max-content;
                    height: max-content;
                    position: relative;
                    img {
                        width: 18vw;
                        height: 7.5rem;
    
                    }

                    &:hover .dataGif {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        opacity: 0.7;
                        background-color: #572EE5;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transform: translate(0%, -100%);
                        margin: none;
                        z-index: 1;

                        .botones {
            
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            position: relative;
                            z-index: 1;
                                    
                               a > img {
                                    width: 3vw;
                                    height: auto;
                                    padding: 7%;
                                    box-sizing: border-box;  
                                    // padding: 10%;  

                                    &:hover {
                                        transform: scale(1.2);
                                        transition: all 0.2s;
                                        opacity: 0.9;
                                    }
                                }
                            }
                        
                            .info {
                                position: relative;
                                padding-left: 2vw;
    
                                p {
                                    font-family: 'Roboto';
                                    font-weight: 500;
                                    font-size: 0.9375em;
                                    color: #FFFFFF;
                                    padding-bottom: 0.2rem;
                                }
        
                                h4 {
                                    font-family: 'Roboto';
                                    font-weight: 700;
                                    font-size: 1rem;
                                    color: #FFFFFF;
                                }
                            }

                    }
    
                
                
    
                    
                
            }
            }


            .verMas {
                width: 10vw;
                margin-top: 10vh;
                cursor: pointer;
            }
        }
    }
}