.trending-gifos {

    .trending-gifs{

        padding-top: 10%;
        padding-bottom: 10%;
        background-color: $background-trending;
    
        .trending-gifos-h2 {
            @include h2-mobile
        }
    
        .trending-gifos-text {
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 1rem;
            color: #000000;
            text-align: center;
            line-height: 1.4375rem;
    
            .line {
                display: block;
            }   
        }
        .trending-gifs-images {
            display: flex;
            flex-direction: row;
            padding: 5% 5vw;
            box-sizing: border-box;
            overflow: scroll;
            scroll-snap-type: x mandatory;

            
            .slider {
                display: none;
            }
            .tren {
                display: flex;
                flex-direction: row;
    
                .image {

                    img {
                        height: 7.5rem;
                        width: 42vw;
                    }
    
                    .dataGif {
                        display: none;
                    }
    
                }
        
            }
        }
    }
}

// @keyframes slide {
//     from {
//         margin-left: 0;
//     }
//     to {
//         margin-left: -25vw;
//     }
// }



@media screen and (min-width:768px){
    .trending-gifos {
        .trending-gifs{
            box-sizing: border-box;
            .trending-gifos-h2{
                @include h2-desktop;
            }
    
            .trending-gifos-text{
                font-size: 1.125rem;
                text-align: center;
    
                .line {
                    display: inline;
                }
            }
    
            .trending-gifs-images {
                overflow: visible;
                margin: 0;
                justify-content: space-between;
                box-sizing: border-box;
                padding: 8% 5vw 0 5vw;

                
                .slider {
                    display: inline;
                    cursor: pointer;

                }

                .tren{
                    box-sizing: border-box;
                    .image {
                        padding: 0.2rem;
                        position: relative;
                        

                        img {
                            width: 25vw;
                            height: 11rem;
        
                        }
    
                        &:hover .dataGif {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            opacity: 0.7;
                            background-color: #572EE5;
                            position: absolute;
                            width: 25vw;
                            height: 11rem;
                            transform: translate(0%, -100%);
                            margin: none;
                            z-index: 1;
                            margin-top: -2px;
    
                            .botones {
                
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-end;
                                position: relative;
                                z-index: 1;
                                        
                                   a > img {
                                        width: 3vw;
                                        height: auto;
                                        padding: 7%;
                                        box-sizing: border-box;  
                                        padding: 10%;  
    
                                        &:hover {
                                            transform: scale(1.2);
                                            transition: all 0.2s;
                                        }
                                    }
                                }
                            
                                .info {
                                    position: relative;
                                    padding-left: 2vw;
        
                                    p {
                                        font-family: 'Roboto';
                                        font-weight: 500;
                                        font-size: 0.9375em;
                                        color: #FFFFFF;
                                        padding-bottom: 0.2rem;
                                    }
            
                                    h4 {
                                        font-family: 'Roboto';
                                        font-weight: 700;
                                        font-size: 1rem;
                                        color: #FFFFFF;
                                    }
                                }
    
                        }
        
                    
                    
        
                        
                    
                }
                }
            }
        }
    }
}